.idea
*.pyc
*.jar
*.log
*.class
*.cache

Sources/HybridRS/results
Sources/HybridRS/selected_results
Sources/HybridRS/target
Sources/HybridRS/project/project
Sources/HybridRS/project/target
Sources/HybridRS/epinions_netowork_dataset
Sources/HybridRS/goodreads

Sources/TrustWalkers/project/project
Sources/TrustWalkers/project/target
Sources/TrustWalkers/target
*.txt
*.pem
*.log
